<section class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
        <div fxFlex="50">
        <div class="section-content">
            <h3 class="section-title" data-wow-delay="0.5s" class="col wow bounce">
              About Us - Angular Blue Since 2019
            </h3>
            <p class="mt-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ultricies nibh, vitae sodales purus.
                Aenean volutpat ullamcorper cursus. Duis tristique sit amet augue ac vestibulum.
            </p>
          </div>
        </div>
        <div fxFlex="50">
          <div class="section-content">
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ultricies nibh, vitae sodales purus.
              Aenean volutpat ullamcorper cursus. Duis tristique sit amet augue ac vestibulum.
          </p>
          <p class="mt-1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ultricies nibh, vitae sodales purus.
              Aenean volutpat ullamcorper cursus. Duis tristique sit amet augue ac vestibulum.
          </p>
          <p class="mt-1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ultricies nibh, vitae sodales purus.
              Aenean volutpat ullamcorper cursus. Duis tristique sit amet augue ac vestibulum.
          </p>
          <p class="mt-1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ultricies nibh, vitae sodales purus.
              Aenean volutpat ullamcorper cursus. Duis tristique sit amet augue ac vestibulum.
          </p>
          </div>
        </div>

       
    </div>
</section>
<section class="light-gray w-100">
  <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
          <div fxFlex="50" class="col wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
              <div class="section-content">
                  <h3 class="section-title" data-wow-delay="0.5s" class="col wow bounce">
                    Why Us - Awesomeness
                  </h3>
                  <p class="mt-2">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ultricies nibh, vitae sodales purus.
                      Aenean volutpat ullamcorper cursus. Duis tristique sit amet augue ac vestibulum.
                  </p>
                   <!-- why choose us description -->
                      <div class="why-us-item pl-1 wow fadeInUp" data-wow-duration=".5s" data-wow-delay="1s" fxLayout="column" fxLayoutGap="30px">
                            <div fxFlex="100">
                                <button mat-fab  color="default"><mat-icon color="accent">check</mat-icon></button><span fxFlex="20px"></span> <h3>QUISQUE LACUS DUI</h3>
                              </div>
                              <div  fxFlex="100">
                                  <span fxFlex="20px"></span>
                                  <p >Lipsum Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque lacus dui, interdum sit amet varius a, cursus sit amet sapien. Donec eu placerat nisi.</p>
                              </div>
                        </div>
                        <div class="why-us-item pl-1 wow fadeInUp" data-wow-duration=".5s" data-wow-delay="1s" fxLayout="column" fxLayoutGap="30px">
                            <div fxFlex="100">
                                <button mat-fab  color="default"><mat-icon color="accent">check</mat-icon></button><span fxFlex="20px"></span> <h3>QUISQUE LACUS DUI</h3>
                              </div>
                              <div  fxFlex="100">
                                  <span fxFlex="20px"></span>
                                  <p >Lipsum Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque lacus dui, interdum sit amet varius a, cursus sit amet sapien. Donec eu placerat nisi.</p>
                              </div>
                        </div>
                        <div class="why-us-item pl-1 wow fadeInUp" data-wow-duration=".5s" data-wow-delay="1s" fxLayout="column" fxLayoutGap="30px">
                            <div fxFlex="100">
                                <button mat-fab  color="default"><mat-icon color="accent">check</mat-icon></button><span fxFlex="20px"></span> <h3>QUISQUE LACUS DUI</h3>
                              </div>
                              <div  fxFlex="100">
                                  <span fxFlex="20px"></span>
                                  <p >Lipsum Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque lacus dui, interdum sit amet varius a, cursus sit amet sapien. Donec eu placerat nisi.</p>
                              </div>
                        </div>
                </div>
          </div>
           <div fxFlex="50" class="col wow fadeInRight text-center pt-1" data-wow-duration="1s" data-wow-delay=".5s">
              <img data-wow-iteration="5" data-wow-duration="0.15s" class="col wow flip" class="img-responsive" src="assets/images/captureipad.png" alt="iphone">
          </div>
      </div>
  </div>
</section>