.slider{
  position: relative;
  height: auto;
  .item {
    padding: 0px !important;
   }
  .slider-bg {
    background-size: cover;
    background-repeat: no-repeat;
    //background-attachment: fixed;
  }
  .slider-overlay {
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    opacity: 0.8;
  }
  .tile {
    width: 100%;
    box-shadow: inherit !important;
    .slider-content {
      position: relative;
      z-index: 99;
      height: auto;
      //display: flex;
      //align-items: center;
      //justify-content: center;
      color: #ffffff;
      overflow: hidden;
      .container{
        z-index: 99;
        h1 {
          margin: 0 0 24px;
          font-size: 48px;
          font-weight: 900;
          line-height: 52px;
          text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
        }
      }
    }

    .pt-carousel {padding-top: 9rem}
     @media (max-width: 992px){
      .pt-carousel {
          padding-top: 4rem;
      }
     }
  }
 
  
  .leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 999px;
    left: 0;
    z-index: 99;
  }
  
  .rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 999px;
    right: 0;
    z-index: 99;
  }

}
  
  .myPoint {
    position: absolute;
    list-style-type: none;
    text-align: center;
    padding: 12px;
    margin: 0;
    white-space: nowrap;
    overflow: auto;
    box-sizing: border-box;
    bottom: 10px;
    width: 100%;
  }
  .myPoint  li {
      display: inline-block;
      border-radius: 50%;
      background: #6b6b6b;
      padding: 4px;
      margin: 0 3px;
      transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
      transition: 0.4s;
  }
  .myPoint  li.active {
        background: #6b6b6b;
        transform: scale(1.8);
      }
  
  .carouselHoved {
    opacity: 0.4;
  }
  
  .myBannerPoint {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0;
    color: beige;
    justify-content: center;
    list-style-type: none;
    background: rgba(0, 0, 0, 0.34);
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
  }
  .myBannerPoint li {
      background: #6b6b6b;
      width: 50px;
      height: 50px;
      margin-right: 10px;
  }
  .myBannerPoint li.active {
        transform: translateY(-10px);
        transition: .3s ease all;
  }

  .home-intro-title {
    margin: 0 0 24px;
    font-size: 48px;
    font-weight: 900;
    line-height: 52px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
  }
  .home-intro-desc {
    margin: 0 0 40px;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
  }
  .intro-list {
    margin: 0 0 40px;
  }
  .intro-product {
    position: relative;
    top: 60px;
    left: 60px;
  }
  .intro-product-link {
    position: absolute;
    top: -60px;
    left: -45px;
    text-align: center;
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: #fff;
    color: rgba(0, 0, 0, .87);
    padding: 37px 20px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 14px 32px rgba(0, 0, 0, 0.2);
    transition: all .3s ease;
  }
  .intro-product-link:hover {
    box-shadow: 0 19px 32px rgba(0, 0, 0, 0.4);
  }
  .intro-product-link .price {
    font-size: 32px;
    font-weight: 700;
  }
  .intro-product-link .price-text {
    font-size: 14px;
  }
  
  @media (max-width: 767px) {
    .home-intro-section {
      padding: 100px 0 60px;
    }
    .home-intro-title {
      margin: 0 0 30px;
      font-size: 32px;
      font-weight: 900;
      line-height: 38px;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
    }
    .home-intro-desc {
      margin: 0 0 40px;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
    }
    .intro-product {
        top: 0;
        left: 20px;
    }
    .intro-product-link {
        top: -80px;
        transform: scale(.5);
    }
  }