 <!-- Purchase Now -->
 <section class="purchase-now mat-bg-primary-dark">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="66.666" class="col wow fadeInLeftBig" data-wow-duration="1s">
        <h2>Almost Free. Why Not Buy Now? - Quick Service</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nam, illum et quis officiis beatae.</p>
      </div>
      <div fxFlex="33.333" fxLayoutAlign="center center" class="col wow fadeInRightBig" data-wow-duration="1s">
        <button mat-raised-button mat-lg-button color="accent" (click)="buyTemplate()">BUY Angular Blue NOW</button>
      </div>
    </div>
  </div>
</section>