<section class="container our-services" id="service-section">
    <div class="section-content">
       <h3 class="section-title" data-wow-delay="0.5s" class="col wow bounce">
          Our Services - Offering the best since yesterday
       </h3>
       <p class="mt-2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ultricies nibh, vitae sodales purus.
          Aenean volutpat ullamcorper cursus. Duis tristique sit amet augue ac vestibulum .
       </p>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
       <div fxFlex="25">
          <mat-card class="home-fancy-card">
             <div fxLayout="column">
                <div class="text-center">
                   <mat-icon mat-card-icon>dashboard</mat-icon>
                </div>
                <span fxFlex="20px"></span>
                <h3 class="m-0 font-light">Business Application Int.</h3>
                <span fxFlex="20px"></span>
                <p class="m-0 description">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
                   Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
                </p>
                <span fxFlex="40px"></span>
                <div>
                   <button mat-button><strong class="text-muted">READ MORE</strong></button>
                </div>
             </div>
          </mat-card>
       </div>
       <div fxFlex="25">
          <mat-card class="home-fancy-card">
             <div fxLayout="column">
                <div class="text-center">
                   <mat-icon mat-card-icon>perm_data_setting</mat-icon>
                </div>
                <span fxFlex="20px"></span>
                <h3 class="m-0 font-light">Custom System Integration</h3>
                <span fxFlex="20px"></span>
                <p class="m-0 description">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
                   Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
                </p>
                <span fxFlex="40px"></span>
                <div>
                   <button mat-button><strong class="text-muted">READ MORE</strong></button>
                </div>
             </div>
          </mat-card>
       </div>
       <div fxFlex="25">
          <mat-card class="home-fancy-card">
             <div fxLayout="column">
                <div class="text-center">
                   <mat-icon mat-card-icon>storage</mat-icon>
                </div>
                <span fxFlex="20px"></span>
                <h3 class="m-0 font-light">Database Administration</h3>
                <span fxFlex="20px"></span>
                <p class="m-0 description">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
                   Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
                </p>
                <span fxFlex="40px"></span>
                <div>
                   <button mat-button><strong class="text-muted">READ MORE</strong></button>
                </div>
             </div>
          </mat-card>
       </div>
       <div fxFlex="25">
          <mat-card class="home-fancy-card">
             <div fxLayout="column">
                <div class="text-center">
                   <mat-icon mat-card-icon>stay_primary_portrait</mat-icon>
                </div>
                <span fxFlex="20px"></span>
                <h3 class="m-0 font-light">Custom Mobile Application</h3>
                <span fxFlex="20px"></span>
                <p class="m-0 description">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
                   Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
                </p>
                <span fxFlex="40px"></span>
                <div>
                   <button mat-button><strong class="text-muted">READ MORE</strong></button>
                </div>
             </div>
          </mat-card>
       </div>
    </div>
 </section>